html {
  min-height: 100%;
}
body {
  height: 100%;
  margin: 0;
}
#root {
  height: 100%;
}
#setzer {
  height: 100%;
  font-family: 'Roboto';
  font-size: 16px;
  text-align: center;
}
#setzer > div {
  display: inline-block;
  text-align: left;
  margin: 20px;
}
#setzer table {
  margin-bottom: 24px;
  border: 2px solid Black;
  border-collapse: collapse;
}
#setzer table thead {
  border-bottom: 2px solid Black;
  text-align: center;
  font-weight: bold;
}
#setzer table td {
  border: 1px solid Black;
  white-space: pre;
}
#index {
  text-align: center;
  margin-bottom: 12px;
}
#index input {
  border: 1px solid Grey;
  padding: 0.1em 0.1em;
  width: 2ch;
  text-align: center;
  font-size: 48px;
  font-weight: bold;
  font-family: inherit;
}
#table td {
  padding: 1.2ex 1.2em 1.2ex 0.8em;
}
#legend td {
  padding: 1ex 1em;
}
#legend .mark {
  text-align: center;
}
#navigation td {
  padding: 1ex 1em;
}
#navigation .key {
  font-style: italic;
  text-align: center;
}
#load {
  margin-bottom: 24px;
}
#copyright {
  margin-right: calc(1em + 5px);
  text-align: right;
}
.stop-on-on {
  background-color: #1e90ff;
  color: White;
}
.stop-on-off {
  background-color: #81e51b;
  color: White;
}
.stop-off-on {
  background-color: #ff8d1e;
  color: White;
}
.stop-off-off
.stop-index {
  font-style: italic;
}
